<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platform--65</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">


</head>

<body>
    <%- include('./layouts/css/style.ejs') %>
        <div class="d-flex justify-content-between">
            <%- include('./layouts/partials/sidenav.ejs') %>
                <div class="Packages">
                    <h3> combos</h3>
                    <div class="d-flex flex-column i ">
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://i.pinimg.com/originals/1a/8a/40/1a8a40da7943967c6f60f022cf1f514f.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Veg Biryani and Panner Tikka</h3>
                                <p class="ImgText"> Paneer is marinated in tandoori spices and cooked in a creamy sauce
                                    of
                                    onion,
                                    garlic and nuts.</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6> <i class="fas fa-rupee-sign"></i>500</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0" />
                                    <button class="btn-a"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://pull-revisfoodography.netdna-ssl.com/wp-content/uploads/2017/01/paneer-biryani-vert3.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Panner Biryani with Curd Rice</h3>
                                <p class="ImgText">Get Panner biryani with veggies and curd rice with fruits</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>430</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0" />
                                    <button class="btn-a"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://mummyitsyummy.com/wp-content/uploads/2020/12/Chicken-65-Biryani-Recipe.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Chicken Dum Biryani and Mashroom 65</h3>
                                <p class="ImgText">Chicken dum Biryani consists of 3 legs and Mashroom65 200g</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>470</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0">
                                    <button class="btn-a"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://www.harkoichef.com/wp-content/uploads/2018/09/74584.png" alt="">
                            </div>
                            <div class="cardText">
                                <h3>Mutton Dum Biryani and Gobi-65</h3>
                                <p class="ImgText">Mutton Biryani with original Spices and Crunchy Gobi 65</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>530</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0" />
                                    <button class="btn-a"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <%- include('./layouts/partials/info.ejs') %>

        </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

        <script>
            const btnAdd = document.querySelectorAll('.btn-a');
            const input = document.querySelector('input')
            const btnSub = document.querySelectorAll('.btn-s')
            btnAdd.forEach(button => button.addEventListener("click", function () {
                input = parseInt(input.value) + 1;
            }));
             


            



        </script>

</body>

</html>
