<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platform--65</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">


</head>

<body>
    <%- include('./layouts/css/style.ejs') %>
        <div class="d-flex justify-content-between">
            <%- include('./layouts/partials/sidenav.ejs') %>
                <div class="Packages">
                    <h3>Milk Shakes</h3>
                    <div class="d-flex flex-column i ">
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://www.thespruceeats.com/thmb/7v2S9FuJRUsTFmB0I7D0yNXZ1RA=/940x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/easy-oreo-milkshake-recipe-4038636-hero-01-5c1d540346e0fb000109272e.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Oreo Milkshake </h3>

                                <p class="ImgText">This was the perfect cookies and cream milkshake. The flavors of Oreo
                                    always remind me of being a kid, and a milkshake is a great refreshing summertime
                                    sweet.</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6> <i class="fas fa-rupee-sign"></i>85</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0">
                                    <button class="btn-s"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                        <i class="basket">
                                            <ion-icon name="basket"></ion-icon>
                                        </i>



                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://ourpotluckfamily.com/wp-content/uploads/2017/04/Peanut-Butter.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Peanut Butter Milkshake </h3>
                                
                                <p class="ImgText">Whether it's a vanilla shake or a chocolate one, peanut butter is a
                                    fantastic addition. Most people add a tablespoon or so of peanut butter to the blend
                                    to get the flavor they love.</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>100</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0">
                                    <button class="btn-a"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://bakewithshivesh.com/wp-content/uploads/2020/09/IMG-8192-scaled.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Red Velvet Milkshake</h3>
                                 
                                <p class="ImgText">Red Velvet milkshake with toppings of red velvet cake and figs</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>120</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0">
                                    <button class="btn-s"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>

                            </div>

                        </div>
                        <div class="d-flex flex-row items" id="card">
                            <div class="card">
                                <img class="pImages"
                                    src="https://i2.wp.com/bakingmischief.com/wp-content/uploads/2021/01/strawberry-banana-milkshake-image.jpg"
                                    alt="">
                            </div>
                            <div class="cardText">
                                <h3>Strawberry&Banana Milkshake</h3>
                                <h6>(95 gms)</h6>
                                <p class="ImgText">Healthy milkshake which is fusion of  banana and strawberry,with slice strawberry toppings</p>
                            </div>
                            <div class=" d-flex flex-column  justify-content-between cardPrice">

                                <h6><i class="fas fa-rupee-sign"></i>75</h6>
                                <div class="d-flex flex-row " id="button">
                                    <button class="btn-s"><i>
                                            <ion-icon name="remove"></ion-icon>
                                        </i> </button>
                                    <input type="number" value="0">
                                    <button class="btn-s"><i>
                                            <ion-icon name="add"></ion-icon>
                                        </i></button>
                                    <i class="basket">
                                        <ion-icon name="basket"></ion-icon>
                                    </i>


                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <%- include('./layouts/partials/info.ejs') %>

        </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="menu.js" defer></script>

</body>

</html>