<div class="Info items" id="info">
    <div class="d-flex  justify-content-between">
        <div class="name">
            <h3>Shaik Saif</h3>
            <p>abcf279@gmail.com</p>

        </div>
        <div>
            <i class="icon">
                <ion-icon name="contact"></ion-icon>
            </i>

        </div>


    </div>
    <hr class="infoHr">

    <div>
        <div class="d-flex justify-content-between">
            <div>
                <div class="d-flex flex-column">
                    <b>Address Book</b>
                    <a style="margin-left: 10px;" href="#">select address</a>
                </div>


            </div>
            <div>
                <div class="d-flex flex-column">
                    <b>Delivery Date</b>
                    <input type="date">

                </div>
            </div>


        </div>


    </div>
    <div class="d-flex flex-row dish" id="SCard">
        <div>
            <img class="dImages" src="https://i.pinimg.com/originals/1a/8a/40/1a8a40da7943967c6f60f022cf1f514f.jpg"
                alt="">
        </div>
        <div>
            <div class=" d-flex flex-column" id="Dsection">
                <div>
                    <h6>Special Chicken Biryani</h6>
                </div>

                <div>
                    <p class="dText">Chicken biryani is a style of biryani from Hyderabad..</p>

                </div>
                <div class="d-flex  justify-content-between " id="button">
                    <div class="d-flex flex-row">
                        <div>
                            <button class="btn-s"><i>
                                    <ion-icon name="remove"></ion-icon>
                                </i> </button>
                        </div>
                        <div>
                            <input type="number" value="0">
                        </div>

                        <div>
                            <button class="btn-a"><i>
                                    <ion-icon name="add"></ion-icon>
                                </i></button>

                        </div>
                    </div>
                    <div>
                        <button class="btn-s trash">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="Iprice">
            <div class="d-flex flex-column justify-content-between">
                <div class="dcardPrice">
                    <b> <i class="fas fa-rupee-sign"></i>299</b>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex flex-row  dish" id="SCard1">
        <div>
            <img class="dImages"
                src="https://tse1.mm.bing.net/th?id=OIP.m6vYx9gooZyPM19MhR3IAQHaEK&pid=Api&P=0&w=293&h=165"
                alt="">
        </div>
        <div>
            <div class="d-flex flex-column" id="Dsection">
                <div>
                    <h6>Butter Chicken Masala</h6>
                </div>

                <div>
                    <p class="dText">Delicious  Butter Chicken Masala give you a great experience of having chicken</p>

                </div>
                <div class="d-flex  justify-content-between " id="button">
                    <div class="d-flex flex-row">
                        <div>
                            <button class="btn-s"><i>
                                    <ion-icon name="remove"></ion-icon>
                                </i> </button>
                        </div>
                        <div>
                            <input type="number" value="0">
                        </div>

                        <div>
                            <button class="btn-a"><i>
                                    <ion-icon name="add"></ion-icon>
                                </i></button>

                        </div>
                    </div>
                    <div>
                        <button class="btn-s trash">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="Iprice">
            <div class="d-flex flex-column justify-content-between">
                <div class="dcardPrice">
                    <b> <i class="fas fa-rupee-sign"></i>299</b>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex flex-row dish" id="SCard2">
        <div>
            <img class="dImages" src="https://media.bakingo.com/sumptuous-blueberry-pastries-past0214blue-A.jpg?tr=w-100,h-75,dpr-1.5,q-70" alt="">
        </div>
        <div>
            <div class="d-flex flex-column" id="Dsection">
                 
                    <h6> Blueberry Pastries</h6>
                 

                 
                    <p class="dText">This blueberry to impart the flavour like never before. This delicious
                        blueberry pastries is sure to leave you spellbound.</p>

                 
                <div class="d-flex  justify-content-between info-btn " id="button">
                    <div class="d-flex flex-row">
                        <div>
                            <button class="btn-s"><i>
                                    <ion-icon name="remove"></ion-icon>
                                </i> </button>
                        </div>
                        <div>
                            <input type="number" value="0">
                        </div>

                        <div>
                            <button class="btn-s"><i>
                                    <ion-icon name="add"></ion-icon>
                                </i></button>

                        </div>
                    </div>
                    <div>
                        <button class="btn-s trash">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="Iprice">
            <div class="d-flex flex-column justify-content-between">
                <div class="dcardPrice">
                    <b> <i class="fas fa-rupee-sign"></i>230</b>
                </div>
            </div>
        </div>

    </div>
    <div class="calc">
        <div class="d-flex justify-content-between">
            <div>
                <b>Item Subtotal</b>

            </div>
            <div class="price">
                <b> <i class="fas fa-rupee-sign"></i>299</b>
            </div>
        </div>
    </div>
    <div class="calc">
        <div class="d-flex justify-content-between">
            <div>
                <b>Taxes</b>
            </div>
            <div class="price">
                <b> <i class="fas fa-rupee-sign"></i>0</b>
            </div>
        </div>
    </div>
    <div class="calc">
        <div class="d-flex justify-content-between">
            <div>
                <b>Delivery</b>
            </div>
            <div class="price">
                <b> <i class="fas fa-rupee-sign"></i>0</b>
            </div>
        </div>
    </div>
    <div class="total">
        <div class="d-flex justify-content-between">
            <div>

                <b>Total</b>
            </div>
            <div class="price">
                <b> <i class="fas fa-rupee-sign"></i>828</b>
            </div>
        </div>
    </div>
    <div class="checkout">
        <button>Checkout</button>
    </div>

</div>