<div class="navD">
    <div class="d-flex flex-column">
        <div>
            <img class="logo" src="https://platform65.in/images/og_logo.png" alt="">
            <p class="title"> <b>Platform 65</b></p>
            <hr class="imgHr">

        </div>
        <div class="dropdown d-flex flex-column" id="navBar">
            <div>
                <div class="Home">
                    <a href="/menu"><b>Home</b> </a>

                </div>


            </div>
            <div class="button">
                <div>
                    <button class="btn" onclick="change()" data-dropdown-button> <b>  Menu</b>
                        <i>
                            <ion-icon name="arrow-dropdown"></ion-icon>
                        </i></button>
                </div>


            </div>
            <div class="button-menu">
                <ul>
                    <a href="/menu">Combos</a>

                </ul>
                <ul>
                    <a href="/menu/maincourse">Main Course</a>

                </ul>
                <ul>
                    <a href="/menu/Biryani">Rice and Biryani</a>
                </ul>
                <ul>
                    <a href="/menu/starters">Starters</a>

                </ul>
               





            </div>
            <div class="button">
                <button class="btn" onclick="change()" data-dropdown-button> <b>Deserts</b> <i>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </i></button>
            </div>
            <div class="list">

                <ul> <a href="/deserts/icecreams">Ice  Creams</a> </ul>
                <ul> <a href="/deserts/pastries">Pastries</a></ul>
                <ul> <a href="/deserts/milkshake">Milk Shakes</a></ul>

            </div>
        </div>
    </div>
    <footer>
        <hr class="footerHr">
        <p>Platform 65 | 2020</p>
    </footer>
</div>